html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262b49;
  color: #36377d;
}

#divPlayer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 50px;
  background-color: #10153b;
}

h1 {
  font-size: 22px;
  line-height: 30px;
  color: #1f2257;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  border-bottom: #1f2257 1px solid;
}

button, input[type='button'], input[type='submit'] {
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  /*background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
  background: -moz-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);*/
  background-color: #68ce7f;
  /*border: 1px solid #aaa;*/
  color: #f5f5f5;
  border: 0;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
  font-size: 12px;
  cursor: pointer;
}

button:hover, input[type='button']:hover, input[type='submit']:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #e65f62;
  border-color: #999;
  color: #222;
}

.control {
  width: 78px;
}

#progressBarCtrl {
  width: 98%;
  height: 15px;
  border: 1px solid #272c4a;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 5px;
  display: inline-block;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#progressBar {
  width: 0px;
  background: #f5a148;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 9px;
  white-space: nowrap;
  cursor: pointer;
}

#progressTime {
  font-size: 10px;
  color: #746be4;
}

.volume {
  vertical-align: bottom;
  display: inline-block;
  height: 25px;
  white-space: nowrap;
  position: relative;
  width: 45px;
  text-align: right;
}

.volume a {
  display: inline-block;
  background: -webkit-linear-gradient(90deg, #786dee, #e45c58);
  width: 8px;
  vertical-align: bottom;
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
  border-left: 1px solid #10153b;
  position: absolute;
  bottom: 0;
}

.stick1 { height: 5px; left: 0px; }
.stick2 { height: 10px; left: 9px; }
.stick3 { height: 15px; left: 18px; }
.stick4 { height: 20px; left: 27px; }
.stick5 { height: 25px; left: 36px; }

/* Footer */
footer {
  display: block;
  font-size: 12px;
  color: #999;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

footer a { color: #999; text-decoration: underline; }
footer a:hover { color: #666; text-decoration: none; }
